button{
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #387ed1;
}
button:hover{
    background-color: black;
}